<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tippy.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tippy-material-theme.css') }}">
  <style>
    body {
      font-family: 'Avenir LT Std 45 Book', Lato, sans-serif;
    }
    input {
      font-family: inherit;
    }
  </style>
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <nav class="navbar has-background-success-dark mb-5 is-transparent">
    <div class="container is-fluid">
      <div class="navbar-brand">
        <span class="navbar-item">
          <img src="{{ url_for('static', filename='bowl-of-hygieia-white-48x.png') }}">
        </span>
      </div>
      <div class="navbar-menu">
        <span class="navbar-item has-text-white has-text-weight-bold">
          M&eacute;dicaments autoris&eacute;s au B&eacute;nin
        </span>
        <span class="navbar-item has-text-white">
          |
        </span>
        <a class="navbar-item has-text-white has-text-weight-bold" href="{{ url_for('index')  }}">
          Accueil
        </a>
      </div>      
    </div>
  </nav>

  <main>
    {% block content %}{% endblock %}
  </main>

  {% block scripts %}{% endblock %}
</body>
</html>
