<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tippy.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tippy-material-theme.css') }}">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <nav class="navbar is-success mb-5">
    <div class="container is-fluid">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for('index') }}">
          <img src="{{ url_for('static', filename='bowl-of-hygieia-white-48x.png') }}">
        </a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{{ url_for('index')  }}">
            Accueil
          </a>
        </div>
      </div>
    </div>
  </nav>

  <main>
    {% block content %}{% endblock %}
  </main>

  {% block scripts %}{% endblock %}
</body>
</html>
